* {
  border: none;
  border-radius: 0;
  font-family: "Symbols Nerd Font", "Symbols Nerd Font Mono", "JetBrainsMono Nerd Font", "Noto Color Emoji";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.75);
  color: #ffffff;
}

#clock {
  font-weight: bold;
  padding: 0 10px;
}

#cpu, #memory, #battery {
  padding: 0 10px;
}
